page-login {

	h2 {
		margin-top: 20px;
		color: #78b937;	
	}

	q {
		text-align: center;
		font-style: italic;
		color: #FB102C;
	}

	ion-label {
		color: #6D56C4;
	}

	ion-card-title {
		display: flex !important;
		justify-content: space-around;
	}

	ion-card-title a {
		font-size: 1.25em;
	}
}
