<div class="toolbar">
  <div class="toolbar-item">
    <a href="#" id="move" class="hide"><i class="material-icons">open_with</i></a>
    <a href="#" id="rotate"><i class="material-icons">3d_rotation</i></a>
  </div>
  <div class="toolbar-separator"></div>
  <div class="toolbar-item">
    <a href="#" id="clone"><i class="material-icons">control_point_duplicate</i></a>
  </div>
  <div class="toolbar-item">
    <a href="#"><i class="material-icons">add_to_photos</i></a>
  </div>
  <div class="toolbar-item">
    <a href="#"><i class="material-icons">layers</i></a>
  </div>
  <div class="toolbar-separator"></div>
  <div class="toolbar-item">
    <a href="#"><i class="material-icons">tonality</i></a>
  </div>
  <div class="toolbar-item">
    <a href="#"><i class="material-icons">style</i></a>
  </div>
  <div class="toolbar-separator"></div>
  <div class="toolbar-item">
      <a href="#" id="delete"><i class="material-icons">delete</i></a>
  </div>
</div>
