<div class="toolbar">
  <div class="toolbar-item">
    <label>
      <input type="checkbox">
      Select Many
    </label>
  </div>
  <div class="toolbar-separator"></div>
  <div class="toolbar-item">
    <a href="#" id="move" class="hide">Translate</a>
    <a href="#" id="rotate">Rotate</a>
  </div>
  <div class="toolbar-item">
    <a href="#" id="delete">Delete</a>
  </div>
  <div class="toolbar-item">
    <a href="#" id="clone">Clone</a>
  </div>
  <div class="toolbar-item">
    <a href="#">Group</a>
  </div>
  <div class="toolbar-separator"></div>
  <div class="toolbar-item">
    <a href="#">Color</a>
  </div>
</div>
