page-home {

  ion-icon {
    font-size: 5em;
    color:#7EBA43;
    margin-bottom: 30px;
  }

  ion-slides{
    height: 470px;
  }

  .diag {
    position:absolute;
    z-index:1;
    width:100%;
    top: 0;
    height: 100%;
  }

  .swiper-pagination-bullet-active {
    background: rgb(138, 136, 136);
  }

  .swiper-pagination {
    bottom: 5% !important;
  }

  .swiper-pagination-bullet {
    color: #fff;
  }

  .blob{
    text-align: center;
    margin: auto;
    color:black;
    margin-top: 25px;
  }

  .blob-text{
    color:black;
    font-size: 17px;
    padding-left: 25px;
  }
}
