page-home {

  ion-icon {
    font-size: 5em;
    color:#7EBA43;
    margin-bottom: 30px;
  }

  ion-slides{
    height: 470px;
  }

  .diag {
    position:absolute;
    z-index:1;
    width:100%;
    top: 0;
    height: 100%;
  }

  .swiper-pagination-bullet-active {
    background: rgb(138, 136, 136);
  }

  .swiper-pagination {
    bottom: 5% !important;
  }

  .swiper-pagination-bullet {
    color: #fff;
  }

  .blob{
    text-align: center;
    margin: auto;
    color:black;
    margin-top: 25px;
  }

  .blob-text{
    color:black;
    font-size: 17px;
    padding-left: 25px;
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft{
  animation-name: slideInLeft;
  animation-duration:5s;
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  animation-name: slideInRight;
  animation-duration:5s;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
  animation-duration:3s;
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  transform-origin: top center;
  animation-name: swing ;
  animation-duration: 10s;
}
