mod-editor {
    @font-face{
        font-family: Montserrat;
        src: url('../assets/fonts/montserrat.woff2') format('woff2');
    }
    #viewport {
        font-family: Montserrat, sans-serif;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
