page-signin {

	a {
		text-decoration: none;
	}
	
	q { 
		text-align: center;
		font-style: italic;
		color: #FB102C;
	}

	ion-label, h1 {
		color: #4E2DCB !important;
	}

	ion-card-title {
		display: flex !important;
		justify-content: space-around;
	}

}
