<!-- Generated template for the LoginComponent component -->
 <!--<ion-content> 
   <h2 class="page-header">Login</h2>
<form (ngSubmit)="onLoginSubmit()">
  <div class="form-group">
    <ion-label>Username</ion-label>
    <ion-input type="text" class="form-control" formControlName="username" name="username"></ion-input>
  </div>
  <div class="form-group">
    <ion-label>Password</ion-label>
    <ion-input type="password" class="form-control" formControlName="password" name="password"></ion-input>
  </div>
  <button ion-button type="submit" class="btn btn-primary" value="Login"></button>
</form>

</ion-content> -->
