<div class="left-menu">
		<div class="menu-tab">
			<div class="tab-title">MODs</div>
			<div class="tab-icon"><button class="hideMenu" data-toggle=".left-menu">+</button></div>
		</div>
		<div class="menu-content">
			<div class="submenu">
				<p class="menu-title">Surface</p>
				<a href="#" class="menu-item">Empty</a>
				<a href="#" class="menu-item">Floor</a>
				<a href="#" class="menu-item">Walls</a>
			</div>
			<div class="submenu">
				<p class="menu-title">add</p>
				<a href="#" class="menu-item" id="addMod">MOD</a>
				<a href="#" class="menu-item">Preset</a>
				<a href="#" class="menu-item">My Presets</a>
			</div>
			<div class="submenu">
				<p class="menu-title">Assets</p>
				<a href="#" class="menu-item">Covering</a>
				<a href="#" class="menu-item">Props</a>
				<a href="#" class="menu-item">Images</a>
				<a href="#" class="menu-item">Lights</a>
			</div>
			<a href="#" class="badass-button">Save</a>
		</div>
	</div>
